# Python virtual environments
venv/
env/
.venv/


# VS Code settings
.vscode/

# 1) Ignore everything inside folders ending with '_gitignore'
# 2) Un-ignore .gitkeep files (even in subfolders)
**/*_gitignore/**
!**/*_gitignore/**/
!**/*_gitignore/**/.gitkeep

# Ignore all files in HP_Workspace
HP_Workspace/