# Python virtual environments
venv/
env/
.venv/


# VS Code settings
.vscode/

# Ignore all content in folders ending with '_gitignore'
**/*_gitignore/**

# But keep the folder itself ending in '_gitignore'
!**/*_gitignore/