# Python virtual environments
venv/
env/
.venv/


# VS Code settings
.vscode/

# Ignore all content (including nested folders) in directories ending with '_gitignore'
**/*_gitignore/**

# Un-ignore any .gitkeep files in those folders (and subfolders)
!**/*_gitignore/**/.gitkeep